recursive-include upstream *.h *.cpp *.cc *.td *.txt *.cmake
recursive-include csrc *.h *.cpp *.cc *.td *.txt
include upstream/TRITON_VERSION
include triton/tools/compile.h
include triton/tools/compile.c
